// reset css
@import "base/reset";

//header
@import "layout/header";

//footer
@import "layout/footer.scss";

//page
@import "page/hotSpot.scss";
@import "page/myFavorite.scss";

body {
    font-family: "Noto Sans TC";
    background-image: url("../images/ricepaper.jpg");
    line-height: 1.6;
}

