// reset css
@import "base/reset";

@import "mixin/mixin";

//page
@import "page/hotSpot.scss";
@import "page/myFavorite.scss";

body {
    font-family: "微軟正黑體";
    background-image: url("../images/ricepaper.jpg");
    line-height: 1.6;
}

