<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPE_HotSpot</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app" class="index">
        @@include('./layout/header.html')
        <div class="list_top_bg">
            <h1>我的最愛</h1>
        </div>
        <div class="editPlace" v-show="isShow">
            <h1 class="title">編輯資料</h1>
            <label>名稱<br><input v-model="name"></input></label>
            <label>地址<br><input v-model="address"></input></label>
            <label>電話<br><input v-model="tel"></input></label>
            <label>基本介紹<br><textarea v-model="intro"></input></textarea></label>
            <button class="add" @click="save()">儲存</button>
        </div>
        <div class="list">
            <div class="detail" v-for="(val, i) in favoriteList">
                <img class="introPic" :src="val.pic" alt="">
                <h1 class="title">{{val.name}}</h1>
                <p class="intro"><i class="fa-solid fa-location-dot"></i>{{val.address}}</p>
                <p class="intro"><i class="fa-solid fa-phone"></i>{{val.tel}}</p>
                <h1 class="introTitle">基本介紹</h1>
                <p class="introDetail">{{val.intro}}</p>
                <button class="add" @click="edit(val.id, val.name, val.address, val.tel, val.intro)">編輯</button>
                <button class="remove" @click="remove(val.id)">移除</button>
            </div>
        </div>
        <h1 v-show="hasData" class="noData">尚無資料</h1>
        <ul class="pages" v-if="infoDataLength">
            <li class="previous">
                <i class="fa-solid fa-circle-chevron-left" @click="left()"></i>
            </li>
            <li v-for=" page in pages" @click="toPage(page)" :class="{currentPage:currentPage === (page)}">{{page}}</li>
            <li class="next">
                <i class="fa-solid fa-circle-chevron-right" @click="right()"></i>
            </li>
        </ul>
    </div>

    <script src="./js/favorite.js"></script>
</body>
</html>