.index{
    header{
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(0,0,0,0.1);
        position: absolute;
        z-index: 2;
        width: 100%;
        .logo{
            width: 6%;
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 64px;
            li{
                width: 200px;
                font-size: 20px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
    .list_top_bg{
        background-image: url(../../images/pic1.png);
        display: flex;
        height: 400px;
        background-size: cover;
        background-position: 0 -20px;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 80px;
            color: white;
        }
    }
    .title{
        text-align: center;
        font-size: 32px;
        margin: 24px 0;
    }

    .filter{
        width: 200px;
        margin-left: 366px;
        font-size: 24px;
        text-align: center;
        margin-top: 16px;
        .chooseDetail{
            line-height: 50px;
            background-color: white;
            cursor: pointer;
            box-shadow: 0 0 3px;
            border-radius: 10px 10px 0 0;
            .fa-chevron-down{
                margin-left: 8px;
            }
            .up{
                transform: rotate(180deg);
            }
            ol{
                width: 200px;
                position: absolute;
                .filterDetail{
                    line-height: 50px;
                    background-color: white;
                    cursor: pointer;
                    box-shadow: 0 0 3px;
                    &:last-child{
                        border-radius: 0 0 10px 10px;
                    }
                }
            }
        }
    }

    .list{
        width: 1200px;
        margin: 0 auto;
        .detail{
            display: inline-block;
            width: 330px;
            margin: 32px 16px;
            border-radius: 3%;
            overflow: hidden;
            padding: 16px;
            background-color: white;
            box-shadow: 0 0 3px;

            .introPic{
                width: 330px;
                text-align: center;
            }

            .title{
                font-size: 24px;
                width: 350px;
                text-align: center;
                font-weight: bold;
                margin-top: 16px;
            }

            .introTitle{
                font-size: 24px;
                font-weight: bold;
                margin-top: 16px;
            }

            .intro{
                width: 350px;
                height: 200px;
                overflow-y: scroll;
                margin-top: 8px;
            }
        }
    }
    .pages{
        display: flex;
        justify-content: center;
        li{
            width: 40px;
            font-size: 24px;
            margin: 32px;
            text-align: center;
            cursor: pointer;
            line-height: 40px;
            color: #666;
        }
        .currentPage{
            background-color: rgb(50, 123, 171);
            border-radius: 50%;
            color: white;
        }
    }
}
